[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
